/* .main-service{
    
    
    display:flex;
    background-color: rgba(253, 8, 8,.4);
} */

.main-service li{
    width:18vw;
    height:22vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgb(128,128,128,.2);
    box-shadow: 10px 10px 10px rgba(0,0,0,.3);
    border-radius: 5px;
   }